<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invited User View</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<link id="favicon" rel="icon" type="image/x-icon" href="static/images/favicon.ico">

<body>
  <div id="header">
    {% block header %}
    {% endblock %}
  </div>
  {% block content %}
  {% endblock content %}
  <div id="footer">
    <h5>Written by Daniel Montoya M.</h5>
  </div>

</body>

</html>
