body {
  position: relative;
  margin: 1px;
  font-family: 'Open Sans', sans-serif;
}

#header {
  line-height: 100px;
  padding-left: 30px;
  color: white;
  width: 100%;
  height: 100px;
  border-radius: 0px 0px 0px 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#282887));
}

#header h2{
  margin: 0;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#282887));
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainblock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#websitescontainer {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: solid 1px #828282;
  border-right: solid 1px #828282;
  box-sizing: border-box;
  height: 400px;
  width: 600px;
  padding: 10px 20px 10px 20px;
  overflow-y: auto;
}

.websiteItem {
  position: relative;
  border: 1px dashed black;
  margin: 5px 0px 5px 0px;
  width: calc(100% - 40px - 2px);
  height: 30%;
  padding: 10px 10px 10px 30px;
  border-radius: 5px 5px 5px 30px;
  display: flex;
  align-items: center;
}

.websiteItem .button-items{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.websiteItem:hover {
  background-color: lightblue;
}

.button-items img,
h3 {
    position: relative;
}

.link-page {
  border: solid 1px;
  width: 15%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: white;
}

.link-page img{
  width: 50px;
  height: 50px;
}

.websiteItem
h3 {
  position: relative;
  margin-left: 5%;
}

.websiteItem .web-icon {
   width: 9%;
}

#div-loadwebsites {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div-loadwebsites button{
  position: relative;
  border: 1px solid gray;
  height: 50px;
  width: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#button-all{
  position: relative;
  border: 1px solid gray;
  height: 50px;
  width: 200px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}


#newscontainer {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: solid 1px #828282;
  border-right: solid 1px #828282;
  box-sizing: border-box;
  height: 800px;
  width: 80%;
  padding: 10px 20px 10px 20px;

  overflow-y: auto;
}

.newsItem {
  margin-top: 30px;
}

.div-news-info {
  display: grid;
  grid-template-columns: 15fr 1fr;
  row-gap: 0px;
  grid-template-rows: 50px 10px;
}

.div-news-info h6 {
  color: blue;
}

#login_user_div{
  position: relative;
  border: 1px solid gray;
  height: 200px;
  width: 300px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

#button-invited {
  position: relative;
  border: 1px solid gray;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}
